/*Background of all pages*/
body {
        background: #90DDF3;
        margin: 30 px;
        padding: 0;
      }

/*Homepage Code (the index)*/
#homepagetitle{
        padding-top: 150px;
        font-size: 45px;
        color: #1E3232;
        font-family: 'Lexend', sans-serif;
        text-align: center;
}

#homepagetext{
        padding-top: 60px;
        text-align: center;
        font-size: 25px;
        width: 100%;
        color: white;
        font-family: 'Commissioner', sans-serif;
}

#enterbutton{
    display : block;
    font-size: 25px;
    font-family: 'Lexend', sans-serif;
    text-align : center;
    padding-top: 55px;
    text-decoration: none;
}

/*Background of title box and navigation bar*/
#titlebox {
        background-color: white;
        padding: 10px;
      }

/*Title*/
h1 {
        color: #1E3232;
        font-size: 2em;
        padding-top: 100 px;
        width: 100%;
        font-family: 'Lexend', sans-serif;
        text-align: left;
       }

/* Navigation Bar */
nav {
    list-style-type : none;
    margin : 0px;
    padding : 0;
    overflow : hidden;
    background-color : #333;
    }

li a {
    display : block;
    color : white;
    font-family: 'Lexend', sans-serif;
    text-align : center;
    padding: 14px 16px;
    text-decoration: none;
    }

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color : #111;
    }

nav li {
        display: inline-block;
        height: 100%;
        padding: 10px;
        }

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 12.5%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

/* First Paragraph*/
.intro {
        background-color: white;
        width: 100%;
        color: #55B2CD;
        font-size: 30px;
        padding-top: 75px;
        padding-bottom: 25px;
        font-family: 'Lexend', sans-serif;
        text-align: center;
}

.significance {
        color: #1E3232;
        font-size: 25px;
        margin: 20px;
        padding-top: 35px;
        width: 100%;
        font-family: 'Lexend', sans-serif;
        font-style: italic;
        text-align: left;
}

.firstp {
        background-color: #90DDF3;
        font-size: 17px;
        line-height: 1.3em;
        text-align: left;
        color: #1E3232;
        margin: 35px;
        padding-right: 100px;
        padding-left: 100px;
        text-align: left;
        font-family: 'Commissioner', sans-serif;
      }

h5{
        color: #98A6A9;
        font-size: 18px;
        padding-top: 100 px;
        width: 100%;
        font-family: 'Commissioner', sans-serif;
        font-style: italic;
        text-align: center;
}

.areatostudy {
        color: #1E3232;
        font-size: 25px;
        margin: 20px;
        padding-top: 35px;
        width: 100%;
        font-family: 'Lexend', sans-serif;
        font-style: italic;
        text-align: left;
}

#secondp {
        font-size: 17px;
        line-height: 1.3em;
        text-align: left;
        color: #1E3232;
        margin: 35px;
        padding-right: 100px;
        padding-left: 100px;
        text-align: left;
        font-family: 'Commissioner', sans-serif;
      }
