body {
        background: #B2D8D7;
        margin: 30 px;
        padding: 0;
      }

#titlebox {
        background-color: white;
        padding: 10px;
}
        
h1 {
        color: #476464;
        font-size: 2em;
        padding-top: 100 px;
        width: 100%;
        font-family: 'Lexend', sans-serif;
        text-align: center;
       }
nav {
        color: #476464;
        font-size: 20px;
        font-family: 'Lexend', sans-serif;
        text-align: center;
        }

nav li {
        display: inline-block;
        height: 100%;
        padding: 10px;
        }

#firstp {
        color:white;
        background-color: powderblue;
        text-align: left;
        font-family: 'Commissioner', sans-serif;
      }

.light {
        color: white;
        background-color: mediumslateblue;
        text-align: right;
        font-family: 'Commissioner', sans-serif;
      }

